*{
	font-family: '돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;
}
body{
	margin: 0;
	background: #ffd900;
}
.contain{
	width: 100%;
}
.content{
	width: 100%;
	position: relative;
    clear: both;
}
.header{
	width: 100%;
	margin-top: 3%;
}
.title{
  width: 100%;
}

.title_label{
	width: 85%;
	margin: 3% 0 3% 0;
}
.kdc_img{
  width: 100%;
}

.youtube_thumb_img{
  width: 32%;
  
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
* html .clearfix { height: 1%; }
//.clearfix { display: block; }
.clickable-link {
  display: block;
  text-indent: -9999em;
}
.btn_buy_img{
width: 45%;  
}
.btn_kt_img{
width: 15%;   
}
.btn_ks_img{
width: 15%; 
}

