styles.cssa{
  text-decoration: none;
}
img{
  border: 0;
}

.body_class{
  background-color: #d4e5e9;
  margin: 0;
  background-repeat: repeat-x;
}

.contain{
  position: relative;
  width: 810px;
  left: 50%;
  margin-left: -405px;
}

.header{
  margin-top: 32px;
  padding-left:20px;
}

.haeder_logo{
  float: left;
}

.header_term{
  float: right;
}
.content{
  margin-top: 64px;
  text-align: center;
  background: asset-url("pc/backimg2.png") no-repeat 30px 160px;
}

.c_title{
	padding-bottom:20px;
}

.btn_event{
	padding-bottom:456px;
}

.content_title{
  margin-bottom: -12px;
}

.label_2{
	padding-bottom:20px;
}

.share{
  margin:0 auto;
  background-image: asset-url("pc/share_btn_bg.png");
  width:301px;
  height:43px;

}

.share_icon_f{
  margin-top: 7px;
  margin-right: 22px;
  float: right;
}

.share_icon_t{
  margin-top: 8px;
  margin-right: 21px;
  float: right;
}
.share_icon_b{
  margin-top: 10px;
  margin-right: 25px;
  float: right;
}

.product{
  margin-left: -65px;
}

.video{
  text-align: center;
  border-top:1px solid #97a7ad;
  margin:40px 20px 36px 20px;
  padding:0 20px;
}

.video_labelarea{
  margin-left: 8px;
  margin-bottom: 64px;
  padding-top:20px;
}

.video_label{
  float: left;
  margin-top: 8px;
}

.video_button{
  float: right;
  margin-bottom: 24px;
}

.close{
  float: right;
  margin: 4px;
}

#popup_info{
  display: none;
  width: 450px;
  height: 570px;
  background-image: asset-url("pc/popup/info/bg.png");
  text-align: center;
}

.myOwnClassName{
  width: 64px;
  height: 24px;
  border: 1px solid gray;
}

.info_title{
  margin-top: 8px;
}

.info_label{
  margin-top: 8px;
}

.info_other{
  width: 369px;
  margin-left: 41px;
  margin-bottom: 42px;
  text-align: left;
}

.info_input_label_1{
  margin-left: 109px;
}

.info_input_label_2{
  margin-left: 78px;
}

.info_caution_class{
  margin-top: 6px;
}

.info_input_name{
  width: 108px;
  height: 24px;
  border-weight: 4px;
  font-size: 13px;
  line-height: 24px;
  margin-left: 12px;
  margin-bottom: 4px;
}

.info_input_call{
  width: 108px;
  height: 24px;
  border-weight: 4px;
  font-size: 13px;
  line-height: 24px;
  margin-left: 12px;
  margin-bottom: 4px;
}

#info_input_radio{
  weight: 24px;
  height: 24px;
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  -ms-appearance: checkbox;
  -o-appearance: checkbox;
  margin-left: 5px;
  margin-right: 12px;
  margin-top:3px;
}

.check_box{
	position:relative;
	height:30px;
}
.check_box input{
	position:absolute;
	top:2px;
	left:240px;
}
.check_box.second input{
	top:3px;
	left:242px;
}
.check_box .info_input_label_3{
	position:absolute;
	top:8px;
	left:140px;
}
.check_box .info_input_label_4{
	position:absolute;
	top:6px;
	left:117px;
}

.to_personal{
  margin-left: 13px;
  margin-bottom: -7px;
}

.personal_caution{
  width: 340px;
  margin: 51px 0 0 46px;
  padding:10px;
  height: 404px;
  overflow:scroll;
  color:#666;
  line-height:15px;
  overflow-x:hidden;
  font-size:12px;
  border: 0;

}

.fin_title{
  margin: 42px 0px 12px 36px;
}

.fin_label{
  margin-bottom: 12px;
}

#popup_personal{
  display: none;
  width: 450px;
  height: 522px;
  background-image: asset-url("pc/popup/personal/bg.png");
}

.select_style_1{
  width: 64px;
  height: 24px;
  border: 1px solid gray;
  text-align: left;
}

#popup_fin1{
  display: none;
  width: 420px;
  height: 266px;
  background-image: asset-url("pc/popup/finT/bg.png");
  text-align: center;
  padding-bottom: 24px;
}

#popup_fin2{
  display: none;
  width: 420px;
  height: 266px;
  background-image: asset-url("pc/popup/finT/bg.png");
  text-align: center;
  padding-bottom: 24px;
}

#popup_product{
  display: none;
  width: 451px;
  height: 550px;
  background-image: asset-url("pc/popup/product/bg.png");
  text-align: center;
}

#popup_blog{
	z-index:9999;
  width: 420px;
  height: 316px;
  background-image: asset-url("pc/popup/blog/blog_bg.jpg");
  text-align: center;
}
#popup_blog .code{
	padding:140px 40px 20px;
	height:80px;
	text-align:left;
}
#popup_blog .code a{
	color:#666;
	text-decoration:none;
	font-size:13px;
}
#popup_blog .btn{
	display:block;
	padding-bottom:20px;
}

.birth_label_class{
  margin: 8px 6px 0 6px;
  float: left;
}

.birth_label_class2{
  margin-top: 8px;
  margin-left: -48px;
}

.select_custom_1{
  margin-left: 36px;
  margin-right: 8px;
  float: left;
}

.select_custom_2{
  margin-left: 8px;
  margin-right: 8px;
  width: 64px;
  float:left;
}

.label{
  background-color: white;
}

.footer_custom{
  width: 100%;
  background-color: #C5D6DA;
  text-align: center;
}

.youtube_iframe{
  margin-left: 36px;
}

span.customSelect {
    font:12px sans-serif;
    background:#fff asset-url("pc/arrow.png") right center no-repeat;
    background-size: 18px;
    border:1px solid #ddd;
    color:#555;
    padding:4px 9px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px 2px;
    width:64px;
    text-align: left;
}
.customSelect.customSelectHover {
    border-color:#c7c7c7;
    background-color:#f5f5f5;
}
.customSelect.customSelectFocus {
    border-color:Orange;
}
.customSelect.customSelectOpen {
    border-color:OliveDrab;
}

span.customSelect2 {
    font:12px sans-serif;
    background:#fff asset-url("pc/arrow.png") right center no-repeat;
    background-size: 18px;
    border:1px solid #ddd;
    color:#555;
    padding:4px 9px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px 2px;
    width:42px;
    text-align: left;
}
.customSelect2.customSelectHover {
    border-color:#c7c7c7;
    background-color:#f5f5f5;
}
.customSelect2.customSelectFocus {
    border-color:Orange;
}
.customSelect2.customSelectOpen {
    border-color:OliveDrab;
}


.customSelect.customSelectChanged {
	-webkit-animation: changed 0.5s;
	-moz-animation: changed 0.5s;
	-ms-animation: changed 0.5s;
	animation: changed 0.5s;
}

@-webkit-keyframes changed {
	0%, 100%{
		-webkit-box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0);
		box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0);
	}
	50%{
		-webkit-box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0.5);
		box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0.5);
	}
}

@-moz-keyframes changed {
	0%, 100%{
		-moz-box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0);
		box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0);
	}
	50%{
		-moz-box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0.5);
		box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0.5);
	}
}

@keyframes changed {
	0%, 100%{
		box-shadow:0px 0px 14px 5px rgba(151, 67, 159, 0);
	}
	50% {
		box-shadow:0px 0px 14px 5px rgba(151, 67, 159, 0.5);
	}
}
@-ms-keyframes changed {
	0%, 100%{
		-ms-box-shadow:0px 0px 14px 5px rgba(151, 67, 159, 0);
		box-shadow:0px 0px 14px 5px rgba(151, 67, 159, 0);
	}
	50% {
		-ms-box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0);
		box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0.5);
	}
}
.star{
  margin-left:2px;
  color:#AA1B1B;
  display:inline-block
}
.star.name{
  margin-left:4px;
  }
.star.phone{
  margin-left:4px;
  }
.star.agree{
margin-left:270px;
margin-top:11px;
  }
.star.agree2{
margin-left:270px;  
margin-top:8px;
  }




.icheckbox_minimal{
  .star{
    margin-left:25px;
  }

}

.popup_info_to_personal{
  margin-left:10px;
  position:absolute;
  left:160px;
  top:60px;
}

.close-modal{
  display: none;
}
.b-modal {
  background: rgba(0, 0, 0, 0.7) !important;
  opacity: 1 !important;
}

.info_birth{
  width: 330px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top:140px;
  padding-top:11px;
  padding-left:125px;
}


.info_birth_date{
  display: table;
  clear: both;
}

.info_birth_date_empty{
  clear: both;
}

.popup_blog{
	display: none;
}