<div class="contain">
  <div class="header">
    <%= image_tag("title.png", class: "title") %>
  </div>
  <div class="movie">
    <iframe width="300" height="210" src="//www.youtube.com/embed/bax4BgeYnGI" frameborder="0" allowfullscreen class="video"></iframe>
  </div>
  <div class="thumb">
 	 <a href="#" target="_blank"><img src="thumb_01.png" /></a>
 	 <a href="#" target="_blank"><img src="thumb_01.png" /></a>
 	 <a href="#" target="_blank"><img src="thumb_01.png" /></a> 
  </div>
  <div class="img">
	   <%= image_tag("kdc_img.png", class:"kdc_img") %>
  </div>  
  <div class="outlink">
 	 <a href="#" target="_blank"><img src="btn_buy.png" /></a>
 	 <a href="#" target="_blank"><img src="btn_kt.png" /></a>
 	 <a href="#" target="_blank"><img src="btn_ks.png" /></a> 
  </div>
</div>
