<div id="product">
	<div class="container-close clearfix">
		<a href="javascript:history.go(-1)" class="btn_close"><%= image_tag("mobile/btn_close.png", class:"btn_close") %></a>
	</div>
	<div class="container-product">
	<%= image_tag("mobile/popup-product_text-top.png", class:"text-top") %>

	<%= image_tag("mobile/popup-product_product.png", class:"product") %>

	<%= image_tag("mobile/popup-product_text-bottom.png", class:"text-bottom") %>
	</div>
</div>