<div class="container-close clearfix">
	<a href="javascript:history.go(-1)" class="btn_close"><%= image_tag("mobile/btn_close.png", class:"btn_close") %></a>
</div>
<pre id="terms">
개인정보 보호를 위한 이용자 동의 사항<br>

' LG생활건강 '은 (이하 '회사'는) 고객님의 개인정보를 중요시하며, "정보통신망 이용촉진 및 정보보호"에 관한 법률을 준수하고 있습니다. 회사는 개인정보취급방침을 통하여 고객님께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다. 회사는 개인정보취급방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.
<br>

1. 개인정보의 수집ㆍ이용 목적<br>
회사는 수집한 개인정보를 다음의 목적을 위해 활용합니다.<br> 
- 이벤트 혜택을 제공하기 위한 정보 전달<br>
- 이벤트 혜택 이용에 따른 본인확인, 연령확인, 불만처리 등 민원처리, 고지사항 전달<br> 
- 마케팅 및 광고에 활용 이벤트 등 광고성 정보 전달, 접속 빈도 파악 또는 회원의 서비스 이용에 대한 통계
<br>
2. 수집하는 개인정보의 항목<br>
회사는 캠페인 혜택 제공, 상담 등을 위해 아래와 같은 개인정보를 수집하고 있습니다.<br>
- 필수항목 : 이름, 연락처, 매장방문일<br>
- 개인정보 수집방법 : 이벤트 참여
<br>
3. 개인정보 취급위탁자<br>
- 미니버타이징 : 숨37 Skin Birthday 캠페인 운영<br>
- ㈜LGCNS : 시스템 관리<br>
- LGU+ : 문자 발송
<br>
4. 개인정보의 보유ㆍ이용 기간<br>
원칙적으로, 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다.<br>
단, 관계법령의 규정에 의하여 보존할 필요가 있는 경우 회사는 아래와 같이 관계법령에서 정한 일정한 기간 동안 회원정보를 보관합니다.<br>
<br>
- 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 (전자상거래등에서의 소비자보호에 관한 법률)<br>
- 개인정보의 파기절차 및 방법 : 회사는 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체없이 파기합니다.<br>
<br>
※ 파기절차 및 방법은 다음과 같습니다.<br> 
- 파기절차 : 고객님이 이벤트 참여 등을 위해 입력하신 정보는 목적이 달성된 후 별도의 DB로 옮겨져 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라 (보유 및 이용기간 참조) 일정 기간 저장된 후 파기되어집니다.<br>
- 파기방법 : 전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다. 
<br>
※이용자의 법적 권리 및 행사방법<br>
이용자는 언제든지 등록되어 있는 이용자의 개인정보를 열람하거나 제3자 에게 제공한 내역을 요구할 수 있으며 이용자의 개인정보에 오류가 있는 경우 정정하실 수 있습니다. 이용자의 개인정보에 대한 열람, 내역 또는 정정을 요구하고자 할 경우에는 개인정보 민원담당자에게 서면, 전화 또는 E-mail로 연락하시면 지체 없이 열람, 내역 제공 및 정정 조치를 즉시 취하겠습니다. 
<br>
회사는 회원의 요청에 의해 해지 또는 삭제된 개인정보는 “개인정보의 보유 및 이용기간”에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다.
<br>
이용자는 개인정보의 수집/이용 및 제공에 대해 동의하신 내용을 언제든지 철회하실 수 있습니다. 동의 철회는 개인정보 민원담당자에게 서면, 전화, e-mail 등으로 연락하시면 신속하게 개인정보의 삭제 등 필요한 조치를 합니다.
<br>
※개인정보관리 책임자<br>
- 성명 : 유정천, 부서 : 정보화추진팀, 직위 : 팀장<br>
- E-mail : privacy@lgcare.com<br>
- 연락처 : 031-8045-1431<br>
- fax : 031-8045-1438<br>
<br>
※본 방침은 : 2014 년 3 월 20일 부터 시행됩니다.
<br>

</pre>