<div id="duplication">
<div id="duplication">
	<div class="container-close clearfix">
		<a href="javascript:history.go(-1)" class="btn_close"><%= image_tag("mobile/btn_close.png", class:"btn_close") %></a>
	</div>
    <%= image_tag("mobile/text_duplicate.png", class:"text_duplicate") %>
  <%= link_to mobile_index_path, {onclick: "ga('send', 'event', 'button', 'click', 'm 에러');"} do %>
    <%= image_tag("mobile/btn_duplicate.png", class:"btn_duplicate") %>
  <%end%>
</div>
