<tr class="">
	<td>
		<span>2014-03-25</span>
	</td>
	<td>
		<span>132</span>
	</td>
	<td>
		<span>1258</span>
	</td>
</tr>
<tr class="">
	<td>
		<span>2014-03-26</span>
	</td>
	<td>
		<span>243</span>
	</td>
	<td>
		<span>1431</span>
	</td>
</tr>
<tr class="">
	<td>
		<span>2014-03-27</span>
	</td>
	<td>
		<span>241</span>
	</td>
	<td>
		<span>803</span>
	</td>
</tr>
<tr class="">
	<td>
		<span>2014-03-28</span>
	</td>
	<td>
		<span>149</span>
	</td>
	<td>
		<span>665</span>
	</td>
</tr>
<tr class="">
	<td>
		<span>2014-03-29</span>
	</td>
	<td>
		<span>92</span>
	</td>
	<td>
		<span>623</span>
	</td>
</tr>
<tr class="">
	<td>
		<span>2014-03-30</span>
	</td>
	<td>
		<span>510</span>
	</td>
	<td>
		<span>954</span>
	</td>
</tr>
<tr class="">
	<td>
		<span>2014-03-31</span>
	</td>
	<td>
		<span>1478</span>
	</td>
	<td>
		<span>1144</span>
	</td>
</tr>
<tr class="">
	<td>
		<span>2014-04-01</span>
	</td>
	<td>
		<span>460</span>
	</td>
	<td>
		<span>1167</span>
	</td>
</tr>
<tr class="">
	<td>
		<span>2014-04-02</span>
	</td>
	<td>
		<span>386</span>
	</td>
	<td>
		<span>1075</span>
	</td>
</tr>