<tr class="">
	<td>
		<span>2014-03-25</span>
	</td>
	<td>
		<span>10</span>
	</td>
	<td>
		<span>134</span>
	</td>
</tr>
<tr class="">
	<td>
		<span>2014-03-26</span>
	</td>
	<td>
		<span>33</span>
	</td>
	<td>
		<span>167</span>
	</td>
</tr>
<tr class="">
	<td>
		<span>2014-03-27</span>
	</td>
	<td>
		<span>37</span>
	</td>
	<td>
		<span>90</span>
	</td>
</tr>
<tr class="">
	<td>
		<span>2014-03-28</span>
	</td>
	<td>
		<span>19</span>
	</td>
	<td>
		<span>77</span>
	</td>
</tr>
<tr class="">
	<td>
		<span>2014-03-29</span>
	</td>
	<td>
		<span>9</span>
	</td>
	<td>
		<span>50</span>
	</td>
</tr>
<tr class="">
	<td>
		<span>2014-03-30</span>
	</td>
	<td>
		<span>106</span>
	</td>
	<td>
		<span>169</span>
	</td>
</tr>
<tr class="">
	<td>
		<span>2014-03-31</span>
	</td>
	<td>
		<span>402</span>
	</td>
	<td>
		<span>230</span>
	</td>
</tr>
<tr class="">
	<td>
		<span>2014-04-01</span>
	</td>
	<td>
		<span>82</span>
	</td>
	<td>
		<span>125</span>
	</td>
</tr>
<tr class="">
	<td>
		<span>2014-04-02</span>
	</td>
	<td>
		<span>64</span>
	</td>
	<td>
		<span>140</span>
	</td>
</tr>