<tr class="">
	<td>
		<span>2014-03-25</span>
	</td>
	<td>
		<span>68</span>
	</td>
</tr>
<tr class="">
	<td>
		<span>2014-03-26</span>
	</td>
	<td>
		<span>80</span>
	</td>
</tr>
<tr class="">
	<td>
		<span>2014-03-27</span>
	</td>
	<td>
		<span>57</span>
	</td>
</tr>
<tr class="">
	<td>
		<span>2014-03-28</span>
	</td>
	<td>
		<span>23</span>
	</td>
</tr>
<tr class="">
	<td>
		<span>2014-03-29</span>
	</td>
	<td>
		<span>15</span>
	</td>
</tr>
<tr class="">
	<td>
		<span>2014-03-30</span>
	</td>
	<td>
		<span>59</span>
	</td>
</tr>
<tr class="">
	<td>
		<span>2014-03-31</span>
	</td>
	<td>
		<span>109</span>
	</td>
</tr>
<tr class="">
	<td>
		<span>2014-04-01</span>
	</td>
	<td>
		<span>41</span>
	</td>
</tr>
<tr class="">
	<td>
		<span>2014-04-02</span>
	</td>
	<td>
		<span>51</span>
	</td>
</tr>