 <td>
	 <span>2014-03-25</span>  
 </td> 
 <td class="fb">
	 <span>0</span>  
 </td>
 <td class="tw">
	 <span>0</span>  
 </td>
 <td class="ks">
	 <span>0</span>  
 </td>
 <td class="kt">
	 <span>0</span>  
 </td>
 <td class="blog">
	 <span>0</span>  
 </td>
 <td class="lc">
	 <span>0</span>  
 </td>
 <td class="sw">
	 <span>0</span>  
 </td>
 <td class="lgh">
	 <span>0</span>  
 </td>
 <td class="mobileapp">
	 <span>0</span>  
 </td>
 <td class="sum37">
	 <span>0</span>  
 </td>
 <td class="fbapp">
	 <span>0</span>  
 </td>
 <td class="EDM">
	 <span>0</span>  
 </td>
 <td class="page">
	 <span>0</span>  
 </td>
 <td>
	 <span>0</span>  
 </td>
 <td>
	 <span>1390</span>  
 </td>
</tr>
<tr>
 <td>
	 <span>2014-03-26</span>  
 </td> 
 <td class="fb">
	 <span>12</span>  
 </td>
 <td class="tw">
	 <span>12</span>  
 </td>
 <td class="ks">
	 <span>13</span>  
 </td>
 <td class="kt">
	 <span>48</span>  
 </td>
 <td class="blog">
	 <span>0</span>  
 </td>
 <td class="lc">
	 <span>8</span>  
 </td>
 <td class="sw">
	 <span>0</span>  
 </td>
 <td class="lgh">
	 <span>22</span>  
 </td>
 <td class="mobileapp">
	 <span>0</span>  
 </td>
 <td class="sum37">
	 <span>48</span>  
 </td>
 <td class="fbapp">
	 <span>737</span>  
 </td>
 <td class="EDM">
	 <span>0</span>  
 </td>
 <td class="page">
	 <span>0</span>  
 </td>
 <td>
	 <span>21</span>  
 </td>
 <td>
	 <span>1674</span>  
 </td>
</tr>
<tr>
 <td>
	 <span>2014-03-27</span>  
 </td> 
 <td class="fb">
	 <span>13</span>  
 </td>
 <td class="tw">
	 <span>0</span>  
 </td>
 <td class="ks">
	 <span>17</span>  
 </td>
 <td class="kt">
	 <span>59</span>  
 </td>
 <td class="blog">
	 <span>0</span>  
 </td>
 <td class="lc">
	 <span>7</span>  
 </td>
 <td class="sw">
	 <span>0</span>  
 </td>
 <td class="lgh">
	 <span>59</span>  
 </td>
 <td class="mobileapp">
	 <span>2</span>  
 </td>
 <td class="sum37">
	 <span>152</span>  
 </td>
 <td class="fbapp">
	 <span>643</span>  
 </td>
 <td class="EDM">
	 <span>0</span>  
 </td>
 <td class="page">
	 <span>0</span>  
 </td>
 <td>
	 <span>92</span>  
 </td>
 <td>
	 <span>1044</span>  
 </td>
</tr>
<tr>
 <td>
	 <span>2014-03-28</span>  
 </td> 
 <td class="fb">
	 <span>11</span>  
 </td>
 <td class="tw">
	 <span>1</span>  
 </td>
 <td class="ks">
	 <span>4</span>  
 </td>
 <td class="kt">
	 <span>25</span>  
 </td>
 <td class="blog">
	 <span>0</span>  
 </td>
 <td class="lc">
	 <span>3</span>  
 </td>
 <td class="sw">
	 <span>0</span>  
 </td>
 <td class="lgh">
	 <span>41</span>  
 </td>
 <td class="mobileapp">
	 <span>0</span>  
 </td>
 <td class="sum37">
	 <span>100</span>  
 </td>
 <td class="fbapp">
	 <span>591</span>  
 </td>
 <td class="EDM">
	 <span>6</span>  
 </td>
 <td class="page">
	 <span>0</span>  
 </td>
 <td>
	 <span>32</span>  
 </td>
 <td>
	 <span>814</span>  
 </td>
</tr>
<tr>
 <td>
	 <span>2014-03-29</span>  
 </td> 
 <td class="fb">
	 <span>3</span>  
 </td>
 <td class="tw">
	 <span>0</span>  
 </td>
 <td class="ks">
	 <span>3</span>  
 </td>
 <td class="kt">
	 <span>8</span>  
 </td>
 <td class="blog">
	 <span>0</span>  
 </td>
 <td class="lc">
	 <span>2</span>  
 </td>
 <td class="sw">
	 <span>0</span>  
 </td>
 <td class="lgh">
	 <span>23</span>  
 </td>
 <td class="mobileapp">
	 <span>0</span>  
 </td>
 <td class="sum37">
	 <span>74</span>  
 </td>
 <td class="fbapp">
	 <span>558</span>  
 </td>
 <td class="EDM">
	 <span>0</span>  
 </td>
 <td class="page">
	 <span>0</span>  
 </td>
 <td>
	 <span>44</span>  
 </td>
 <td>
	 <span>715</span>  
 </td>
</tr>
<tr>
 <td>
	 <span>2014-03-30</span>  
 </td> 
 <td class="fb">
	 <span>10</span>  
 </td>
 <td class="tw">
	 <span>0</span>  
 </td>
 <td class="ks">
	 <span>13</span>  
 </td>
 <td class="kt">
	 <span>33</span>  
 </td>
 <td class="blog">
	 <span>0</span>  
 </td>
 <td class="lc">
	 <span>6</span>  
 </td>
 <td class="sw">
	 <span>0</span>  
 </td>
 <td class="lgh">
	 <span>21</span>  
 </td>
 <td class="mobileapp">
	 <span>0</span>  
 </td>
 <td class="sum37">
	 <span>88</span>  
 </td>
 <td class="fbapp">
	 <span>607</span>  
 </td>
 <td class="EDM">
	 <span>482</span>  
 </td>
 <td class="page">
	 <span>0</span>  
 </td>
 <td>
	 <span>204</span>  
 </td>
 <td>
	 <span>1464</span>  
 </td>
</tr>
<tr>
 <td>
	 <span>2014-03-31</span>  
 </td> 
 <td class="fb">
	 <span>22</span>  
 </td>
 <td class="tw">
	 <span>40</span>  
 </td>
 <td class="ks">
	 <span>13</span>  
 </td>
 <td class="kt">
	 <span>44</span>  
 </td>
 <td class="blog">
	 <span>1</span>  
 </td>
 <td class="lc">
	 <span>3</span>  
 </td>
 <td class="sw">
	 <span>0</span>  
 </td>
 <td class="lgh">
	 <span>63</span>  
 </td>
 <td class="mobileapp">
	 <span>0</span>  
 </td>
 <td class="sum37">
	 <span>145</span>  
 </td>
 <td class="fbapp">
	 <span>535</span>  
 </td>
 <td class="EDM">
	 <span>1525</span>  
 </td>
 <td class="page">
	 <span>0</span>  
 </td>
 <td>
	 <span>231</span>  
 </td>
 <td>
	 <span>2622</span>  
 </td>
</tr>
<tr>
 <td>
	 <span>2014-04-01</span>  
 </td> 
 <td class="fb">
	 <span>18</span>  
 </td>
 <td class="tw">
	 <span>1</span>  
 </td>
 <td class="ks">
	 <span>6</span>  
 </td>
 <td class="kt">
	 <span>22</span>  
 </td>
 <td class="blog">
	 <span>4</span>  
 </td>
 <td class="lc">
	 <span>12</span>  
 </td>
 <td class="sw">
	 <span>0</span>  
 </td>
 <td class="lgh">
	 <span>58</span>  
 </td>
 <td class="mobileapp">
	 <span>0</span>  
 </td>
 <td class="sum37">
	 <span>193</span>  
 </td>
 <td class="fbapp">
	 <span>915</span>  
 </td>
 <td class="EDM">
	 <span>285</span>  
 </td>
 <td class="page">
	 <span>0</span>  
 </td>
 <td>
	 <span>113</span>  
 </td>
 <td>
	 <span>1627</span>  
 </td>
</tr>
<tr>
 <td>
	 <span>2014-04-02</span>  
 </td> 
 <td class="fb">
	 <span>16</span>  
 </td>
 <td class="tw">
	 <span>0</span>  
 </td>
 <td class="ks">
	 <span>2</span>  
 </td>
 <td class="kt">
	 <span>59</span>  
 </td>
 <td class="blog">
	 <span>0</span>  
 </td>
 <td class="lc">
	 <span>33</span>  
 </td>
 <td class="sw">
	 <span>0</span>  
 </td>
 <td class="lgh">
	 <span>50</span>  
 </td>
 <td class="mobileapp">
	 <span>0</span>  
 </td>
 <td class="sum37">
	 <span>134</span>  
 </td>
 <td class="fbapp">
	 <span>786</span>  
 </td>
 <td class="EDM">
	 <span>195</span>  
 </td>
 <td class="page">
	 <span>0</span>  
 </td>
 <td>
	 <span>186</span>  
 </td>
 <td>
	 <span>1461</span>  
 </td>
</tr>
<tr>
						 <td>
							 <span>2014-04-03</span>  
						 </td> 
						 <td class="fb">
							 <span>12</span>  
						 </td>
						 <td class="tw">
							 <span>0</span>  
						 </td>
						 <td class="ks">
							 <span>13</span>  
						 </td>
						 <td class="kt">
							 <span>18</span>  
						 </td>
						 <td class="blog">
							 <span>0</span>  
						 </td>
						 <td class="lc">
							 <span>9</span>  
						 </td>
						 <td class="sw">
							 <span>0</span>  
						 </td>
						 <td class="lgh">
							 <span>26</span>  
						 </td>
						 <td class="mobileapp">
							 <span>0</span>  
						 </td>
						 <td class="sum37">
							 <span>188</span>  
						 </td>
						 <td class="fbapp">
							 <span>807</span>  
						 </td>
						 <td class="EDM">
							 <span>260</span>  
						 </td>
						 <td class="page">
							 <span>0</span>  
						 </td>
						 <td>
							 <span>57</span>  
						 </td>
						 <td>
							 <span>1390</span>  
						 </td>
					 </tr>